/*Style pour toute la page*/

html,body {
  margin: 0;
  font-family: 'Source Sans Pro';
  font-size: 16px;

}

/* Style pour le header*/

header {
  width: 100%;
  height: 130px;
  border-bottom: double;
  background-color: #ffffff50;

}

nav {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0;
}

/* Style pour le logo*/

.logo img {
  width: 150px;
  height: 115px;
}

/* Style pour les liens*/

.liens {
  width: 50%;
}

.liens ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.liens li {
  list-style-type: none;
}

.liens a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  cursor: pointer;
  padding-bottom: 0.5em;
  background-image: linear-gradient(red, red);
  background-size: 0% 0.1em;
  background-position-y: 100%;
  background-position-x: 50%;
  background-repeat: no-repeat;
  transition: background-size ease-in-out 0.5s;
  -webkit-transition: background-size ease-in-out 0.5s;
  -moz-transition: background-size ease-in-out 0.5s;
  -ms-transitions: background-size ease-in-out 0.5s;
  -o-transition: background-size ease-in-out 0.5;
}

.liens a:hover {
  background-size: 100% 0.15em;
}

/* Reste de la page*/

body {
  background-image: url("./img/tesla1.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container-main {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



p {
  margin-bottom: 0;
  font-family: arial;
  font-size: 13pt;
  text-align: center;
}

:root {
  --navbar-background-color: #f2f2f2;
  --navbar-item-hovered-color: white;
  --navbar-separator-color: #ececec;
  --navbar-icon-color: #646c79;
  --navbar-text-color: black;
  --navbar-transition-speed: .2s;
  --primary-color: red;
  --navbar-logo-background-color: #e2dfe4;
}

html,
body {
  margin: 0;
  font-family: 'Source Sans Pro';
  font-size: 16px;
}

main {
  padding: 1rem 4rem;
  margin-left: 10rem;
  text-align: justify;
  background-color: #ffffff50;
  margin-top: 5rem;
  margin-right: 5rem;
  border-radius: 25px;
}

.navbar {
  width: 5rem;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  background: var(--navbar-background-color);
  box-shadow: rgba(12, 43, 30, 0.2) 0 4px 14px;
  transition: width var(--navbar-transition-speed) ease;
}

.navbar:hover {
  width: 15rem;
}

.navbar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.navbar-item {
  width: 100%;
  border-bottom: solid 1px var(--navbar-separator-color);
  transition: background-color var(--navbar-transition-speed);
}

.navbar-item:hover {
  background-color: var(--navbar-item-hovered-color);
}

.navbar-item:last-child {
  margin-top: auto;
}

.navbar-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 5rem;
  width: 100%;
  text-decoration: none;
}

.navbar-icon {
  text-align: center;
  font-size: 1.5rem;
  min-width: 2rem;
  margin: 0 1.5rem;
  color: var(--navbar-icon-color);
  transition: var(--navbar-transition-speed);
}

.navbar-item:hover .navbar-icon {
  color: var(--primary-color);
}

.navbar-title {
  color: var(--navbar-text-color);
}

.navbar:not(:hover) .navbar-title {
  display: none;
}



.logo .navbar-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1.5rem;
}

.navbar:hover .logo .navbar-icon {
  transform: rotate(180deg);
}

/*
  ** RESPONSIVE
  */

@media only screen and (max-width:1024px) {
  .navbar {
    top: auto;
    width: 100%;
    bottom: 0px;
  }

  .navbar:hover {
    width: 100%;
  }

  .navbar-menu {
    flex-direction: row;
  }

  .logo {
    display: none;
  }

  main {
    margin-left: 0;
    margin-bottom: 5rem;
  }

  .navbar:hover .navbar-title {
    display: none;
  }

  .navbar-icon {
    min-width: auto;
    margin: 0;
  }

  .navbar-link {
    justify-content: center;
  }
}

/* Scrollbar */

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: black;
}

body::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 10px;
  border: 0px solid black;
}

table,
td,
th {
  border: solid black 1px;
  border-collapse: collapse;
  text-align: center;
}

button {
  display: inline-block;
  background-color: #00000090;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 28px;
  padding: 0px;
  width: 50px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}


/*a:hover {
	background-color: black;
	color: whitesmoke;
	border-radius: 3px;
}*/

p, img, h1, h2, h3{
  text-align: center;
}

a:visited{
  color: black;
}

img{
  width: 500px;
  
}

.zoom {
width: 320px;
height: 240px;
}
.image {
width: 100%;
height: 100%;
}
.image img {
/* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
-webkit-transition: all 1s ease; /* Safari et Chrome */
-moz-transition: all 1s ease; /* Firefox */
-ms-transition: all 1s ease; /* Internet Explorer 9 */
-o-transition: all 1s ease; /* Opera */
transition: all 1s ease;
}
.image:hover img {
/* L'image est grossie de 25% */
-webkit-transform:scale(1.16); /* Safari et Chrome */
-moz-transform:scale(1.16); /* Firefox */
-ms-transform:scale(1.16); /* Internet Explorer  */
-o-transform:scale(1.16); /* Opera */
transform:scale(1.16);
}

.resultat{
  font-size: large;
  line-height: 30px;
}

.toggle-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}


#toggle {
  position: relative;
  display: flex;
  width: 80px;
  height: 40px;
  border-radius: 40px;
  background: #222;
  transition: 0.5s;
  cursor: pointer;
  box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
              inset 0 8px 8px rgba(0, 0, 0, 0.1),
              inset 0 -4px 4px rgba(0, 0, 0, 0.1);
}

#toggle.active {
  background-color: #FFF;
  box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1),
              inset 0 2px 8px rgba(0, 0, 0, 0.1),
              inset 0 -4px 8px rgba(0, 0, 0, 0.05);
}


#toggle .indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: linear-gradient(to bottom, #444, #222);
  border-radius: 50%;
  transform:scale(0.9);
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
              inset 0 4px 4px rgba(255, 255, 255, 0.2),
              inset 0 -4px 4px rgba(255, 255, 255, 0.2);
  transition: 0.5s;
}

#toggle.active .indicator {
  background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
  left: 40px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5),
              inset 0 4px 4px rgba(255, 255, 255, 1),
              inset 0 -4px 4px rgba(255, 255, 255, 1);
 
}

header.active {
  background :rgba(43, 43, 43, 0.314);
}

#page.active {
  background-color: #2b2b2b50;
}

#leftbar.active {
  background-color: #2b2b2b;

}

#leftbar.active .navbar-item:hover {
  background-color: #050505;
  
}

#leftbar.active .navbar-title {
  color: #f8f8f8;

}

